@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');	

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$bgd-color :  #47384D;


body {




	background: $bgd-color;
	margin:0;
	padding: 0;
	width : 100%;
	overflow-x:hidden;
	
	}

	

	.landing-page{
			background-image: url("pictures/hearo-top2.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 100vh;

	
	.logo{
			width:50%;

			position: absolute;
			top: 40%;
			left:28%;
			z-index: 2;

	}
   	
	.arrow{
			position: absolute;
			left: 50%;
			z-index: 3;
			top:82%;
			width:2.5%;

	}

}

.about {
			height:100vh;
			background: #6f249b;
			width: 85%;
			height: 35vh;
			margin:7%;
			top:35em;
			font-family: 'Playfair Display', serif;
			color: white;
			font-size: 2.5em;
			left:14%;
			padding: 10%;



			.btn {
		 		position: absolute;
		 		z-index: 2;
	     		background: transparent;
	     		border:6px #8B3762 solid;
	     		color: #fff;
	     		font-family: 'Montserrat', sans-serif;
	     		font-size: 32px;
	     		size:30%;
	     		left:45%;
	     		top:130%;
	    	 	width:10em;
	     		padding:8px;

	  }
			.arrow-right{
	   			position: absolute;
	    		left:74%;
	    		top:131%;
	    		width:7%;
	  }

	  .arrow-glyph-2{
			position:absolute;
			top:21%;
			left:10%;
			z-index:4;
	}

}


  .advert{
  	.hex{
	 		position:absolute;
	 		left:50%;
	 		top:140%;
			z-index: 3;
			}
	.sec-image{
			position:absolute;
			width:100%;
			padding:5%;
			top:150%;
			z-index:3;
	}		
	.glyph{
			position:absolute;
			top:149%;
			left:10%;
			z-index:3;
	}
	.text1{
			position: absolute;
			color: white;
		    font-family: 'Playfair Display', serif;
		    font-size:4em;
		    top:145%;
		    left:35%;
		    z-index:3;


	}
	.text2{
			position: absolute;
			z-index:3;
			color: white;
		    font-family: 'Playfair Display', serif;
		    font-size:4em;
		    top:148%;
		    left:37%;


	}
	.text3{
			position: absolute;
			z-index:3;
			color: white;
	        font-family: 'Montserrat', sans-serif;
		    font-size:2em;
		    top:185%;
		    left:8%;
		    width:50%;

	}
	.arrow-glyph{
			position:absolute;
			top:111%;
			left:10%;
	}

	
	.btn2 {
		 position: absolute;
		 z-index: 2;
	     background: transparent;
	     border:6px #8B3762 solid;
	     color: #fff;
	     font-family: 'Montserrat', sans-serif;
	     font-size: 32px;
	     size:30%;
	     left:59%;
	     top:186%;
	     width:10em;
	     padding:10px;
	     z-index:3;

	  }
	  .arrow-right2{
	    position: absolute;
	    left:44%;
	    top:40;
	    width:7%;
	    z-index:3;
	}

    div.c{ 
   		     	
 			 
 			 height: 70vh;
 			 width: 100%;
 			 background-color:#3B6382;
 			 transform: skewY(5deg);
	
 	


    }
  }

  .data{

  		.circle{
	 		position:absolute;
	 		z-index:3;
	 		left:15%;
	 		top:210%;
			
			}

	.trd-image{
			position:absolute;
			padding:8%;
			top:215%;
			left:15%;
			width:45vh;

	}	
	.text4{
			position: absolute;
			z-index:4;
			color: white;
		    font-family: 'Playfair Display', serif;
		    font-size:4em;
		    top:220%;
		    left:13%;
		    width:50%;

	}	
	.text5{
			position: absolute;
			color: white;
	        font-family: 'Montserrat', sans-serif;
		    font-size:2em;
		    top:249%;
		    left:44%;
		    width:50%;

	}
	.btn4 {
		 position: absolute;
		 z-index: 2;
	     background: transparent;
	     border:6px #8B3762 solid;
	     color: #fff;
	     font-family: 'Montserrat', sans-serif;
	     font-size: 32px;
	     size:30%;
	     left:5%;
	     top:237%;
	     width:10em;
	     padding:10px;

	  }
	

  }


/*
  .cards{
  	
	
	.card-txt-1{
		color:#8B3762;
		font-size:4em;
		left:40%;
		
	}
	 .card-1{
  			width:90%;
  			margin:5%;
  			bottom:280%;
  		
  		.col-lg-4{

  			position:absolute;
  			z-index:3;
  			
  		
  			width:90%;
  			height:30%;
  			
  		}
  		
      }

  	   .card-2{
  	   		width:90%;
  	   		margin:5%;

  	   }

  	   

  	   .card-3{
  	   		width:90%;
  	   		margin:5%;
  	   }

}

*/
footer{
	position:absolute;
			z-index:3;
			color:grey ;
			top:530%;
			width:100%;

		
}

  @media only screen and (min-width: 992px) {

  		.about {
			text-align:center;
			background: #6f249b;
			width: 65%;
			height: 55vh;
			margin:7%;
			top:35em;
			color: white;
			font-size: 2.5em;
			
			

			.btn {
		 		position: absolute;
		 		z-index: 2;
	     		background: transparent;
	     		border:4px #E11c5b solid;
	     		color: #fff;
	     		font-family: 'Montserrat', sans-serif;
	     		font-size: 26px;
	     		
	     		left:60%;
	     		top:150%;
	    	 	width:5em;
	     		padding:0.5px;

	  }
			.arrow-right1{
	   			position: absolute;
	    		left:66%;
	    		top:152%;
	    		width:6%;
	  }
	  	.text0{
			position: absolute;
			color: white;
		    font-family: 'Playfair Display', serif;
		    font-size:30px;
		    top:125%;
		    left:20%;
		    z-index:3;
		    width:40%;


	}

	.arrow-glyph-2{
			position:absolute;
			top:120%;
			left:10%;
			z-index:4;
	}

}

.advert{

	
			position:absolute;
  			 z-index:3;
 			 height: 120vh;
 			 width: 100%;
 			 background-color:grey;
 			 transform: skewY(0deg);
	
  	.hex{
	 		position:absolute;
	 		left:40%;
	 		top:0%;
			z-index: 3;
			}
	.sec-image{
			position:absolute;
			width:40%;
			left:10%;
			top:30%;
			z-index:3;
	}		
	.glyph{
			position:absolute;
			top:23%;
			left:15%;
			z-index:3;
	}
	.text1{
			position: absolute;
			color: white;
		    font-family: 'Playfair Display', serif;
		    font-size:4em;
		    top:15%;
		    left:35%;
		    z-index:3;


	}
	.text2{
			position: absolute;
			z-index:3;
			color: white;
		    font-family: 'Playfair Display', serif;
		    font-size:4em;
		    top:21%;
		    left:37%;


	}
	.text3{
			position: absolute;
			z-index:3;
			color: white;
	        font-family: 'Montserrat', sans-serif;
		    font-size:2em;
		    top:50%;
		    left:54%;
		    width:35%;

	}
	

	
	.btn2 {
		 position: absolute;
		 z-index: 2;
	     background: transparent;
	     border:4px #E11c5b solid;
	     color: #fff;
	     font-family: 'Montserrat', sans-serif;
	     font-size: 26px;
	     left:61%;
	     top:84%;
	     width:7em;
	     padding:0.5px;
	     z-index:3;

	  }
	  .arrow-right2{
	    position: absolute;
	    left:72%;
	    top:85%;
	    width:6%;
	    z-index:2;
	}

}


.data{
		 
  			 position:absolute;
  			 z-index:1;
 			 height: 120vh;
 			 width: 100%;
 			 top:340%;
 			 background-color:grey;
 			 transform: skewY(0deg);
	

  		.circle{
	 		position:absolute;
	 		z-index:3;
	 		left:55%;
	 		top:15%;
			
			}

			.arrow-glyph{
			position:absolute;
			left:10%;

			
	}

	.trd-image{
			position:absolute;
			z-index:3;
			padding:8%;
			top:0%;
			left:35%;
			width:55%;

	}	
	.text4{
			position: absolute;
			z-index:4;
			color: white;
		    font-family: 'Playfair Display', serif;
		    font-size:4em;
		    top:13%;
		    left:19%;
		    width:50%;

	}	
	.text5{
			position: absolute;
			color: white;
	        font-family: 'Montserrat', sans-serif;
		    font-size:2em;
		    top:40%;
		    left:8%;
		    width:40%;
		    z-index:3;

	}
	.btn4 {
		 position: absolute;
		 z-index: 2;
	     background: transparent;
	     border:4px #E11c5b solid;
	     color: #fff;
	     font-family: 'Montserrat', sans-serif;
	     font-size: 26px;
	     left:9%;
	     top:70%;
	     width:7em;
	     padding:0.5px;

	  }
	

 
  .arrow-right3{
	    position: absolute;
	    left:20%;
	    top:71%;
	    width:7%;
	    z-index:1;
	}


}

  }
  
  .cards{
  		position: absolute;
  		z-index: 3;
  		 background-color : #fff;
  		 height: 60vh;
  		 top:460%;
  		 width:100;

  		 
	.card-txt-1{
		position:absolute;
		z-index:3;
		color:#8B3762;
		font-size:2em;
		left:20%;
		top:10%;
		
	}
	 .card-1{
  			width:90%;
  			margin:7%;
  			
  		
  		.col-lg-4{

  			position:absolute;
  			z-index:3;
  			top:290%;
  		
  			width:90%;
  			height:30%;

  		}
  		
      }

  	   .card-2{
  	   		width:90%;
  	   		margin:7%;

  	   }
  	   .card-txt-2{
  	   		position:absolute;
		z-index:3;
		color:#8B3762;
		font-size:2em;
		left:50%;
		top:10%;
  	   }

  	   

  	   .card-3{
  	   		width:90%;
  	   		margin:7%;
  	   		position:abolute;
  	   		z-index:3;
  	   }
  	   .card-txt-3{
  	   		position:absolute;
		z-index:4;
		color:#8B3762;
		font-size:2em;
		left:30%;
		top:10%;
  	   }

  	  col-sm-4 text-center {
  	  			position:absolute;
 			 height: 70vh;
 			 width: 100%;
 			 top:370%;
 			 background-color:#3B6382;
 			 transform: skewY(5deg);
	}

		footer{
			position:absolute;
			z-index:3;
			color:#fff ;
			top:530%;
			width:100%;
		
  	}

}